      <!DOCTYPE html>
      <html lang="pt-br">
      <head>
          <meta charset="UTF-8">
          <title>{{ titulo }}</title>
      </head>
      <body>
          <h2>{{ titulo }}</h2>
      
          {% if titulo == 'Editar Produto' and produto.foto %}
            <p>Foto Atual:</p>
            <img src="{{ produto.foto.url }}" alt="Foto de {{ produto.nome }}" width="150" style="margin-bottom: 15px;">
          {% endif %}

          <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.as_p }}
      
              <button type="submit">Salvar</button>
          </form>
          <!-- Botão de excluir -->
        {% if produto and produto.id %}
          <a href="{% url 'deletar_produto' produto.id %}">Deletar</a>
        {% endif %}
      
          <form action="{% url 'listar_produtos' %}" method="get">
              <button type="submit">Cancelar / Voltar</button>
          </form>
      </body>
      </html>