      <!DOCTYPE html>
      <html lang="pt-br">
      <head>
          <meta charset="UTF-8">
          <title>{{ titulo }}</title>
      </head>
      <body>
          <h2>{{ titulo }}</h2>
      
          <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
      
              <button type="submit">Salvar</button>
          </form>
          <!-- Botão de excluir -->
        {% if produto and produto.id %}
          <a href="{% url 'deletar_produto' produto.id %}">Deletar</a>
        {% endif %}
      
          <form action="{% url 'listar_produtos' %}" method="get">
              <button type="submit">Cancelar / Voltar</button>
          </form>
      </body>
      </html>