<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<h2>Produtos Disponíveis</h2>

<form method="get" action="" style="margin-bottom: 15px;">
    <input type="text" name="q" placeholder="Buscar produto..." value="{{ query }}">
    <button type="submit">Buscar</button>
</form>

<ul>
  {% for produto in produtos %}
    <li>
      {% if produto.foto %}
        <img src="{{ produto.foto.url }}" alt="Foto de {{ produto.nome }}" width="100" style="margin-right: 15px; vertical-align: middle;">
      {% else %}
        <span class="material-icons" style="font-size: 60px; color: #ccc; line-height: 75px;">fastfood</span>
      {% endif %}

      {{ produto.nome }} - R$ {{ produto.preco }} - Estoque: {{ produto.estoque }}
      
      {% if request.user.usuario.role == 'cantineiro' %}
        <a href="{% url 'editar_produto' produto.id %}" class="btn btn-sm btn-warning">Editar</a>
      {% endif %}
      
      <!-- Botões de estoque sempre visíveis -->
      {% if request.user.usuario.role == 'cantineiro' %}
        <a href="{% url 'adicionar_estoque' produto.id %}{% if query %}?q={{ query }}{% endif %}" class="btn btn-sm btn-success">+</a>
        <a href="{% url 'remover_estoque' produto.id %}{% if query %}?q={{ query }}{% endif %}" class="btn btn-sm btn-danger">-</a>
      {% endif %}
    </li>
  {% empty %}
    <li>Nenhum produto disponível.</li>
  {% endfor %}
</ul>

{% if request.user.usuario.role == 'cantineiro' %}
  <a href="{% url 'criar_produto' %}" class="btn btn-primary mt-3">Adicionar Produto</a>
{% endif %}

<form action="
    {% if request.user.usuario.role == 'aluno' %}
        {% url 'painel_usuario' %}
    {% else %}
        {% url 'dashboard_cantineiro' %}
    {% endif %}" method="post" style="margin-top: 10px;">
    {% csrf_token %}
  <button type="submit" class="btn btn-secondary">Voltar</button>
</form>
