<h2>Produtos Disponíveis</h2>

<form method="get" action="" style="margin-bottom: 15px;">
    <input type="text" name="q" placeholder="Buscar produto..." value="{{ query }}">
    <button type="submit">Buscar</button>
</form>

<ul>
  {% for produto in produtos %}
    <li>
      {{ produto.nome }} - R$ {{ produto.preco }} - Estoque: {{ produto.estoque }}
      
      {% if request.user.usuario.role == 'cantineiro' %}
        <a href="{% url 'editar_produto' produto.id %}" class="btn btn-sm btn-warning">Editar</a>
      {% endif %}
      
      <!-- Botões de estoque sempre visíveis -->
      {% if request.user.usuario.role == 'cantineiro' %}
        <a href="{% url 'adicionar_estoque' produto.id %}{% if query %}?q={{ query }}{% endif %}" class="btn btn-sm btn-success">+</a>
        <a href="{% url 'remover_estoque' produto.id %}{% if query %}?q={{ query }}{% endif %}" class="btn btn-sm btn-danger">-</a>
      {% endif %}
    </li>
  {% empty %}
    <li>Nenhum produto disponível.</li>
  {% endfor %}
</ul>

{% if request.user.usuario.role == 'cantineiro' %}
  <a href="{% url 'criar_produto' %}" class="btn btn-primary mt-3">Adicionar Produto</a>
{% endif %}

<form action="{% url 'home' %}" method="get" style="margin-top: 10px;">
  <button type="submit" class="btn btn-secondary">Voltar</button>
</form>