<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cantina{% endblock %}</title>
</head>
<body>
    <!-- Navbar -->
    <nav>
        <div>
            <a href="{% url 'home' %}">Cantina</a>
            <ul>
                {% if user.is_authenticated %}
                    <li>Olá, {{ user.username }}</li>
                    <li><a href="{% url 'logout' %}">Sair</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Entrar</a></li>
                    <li><a href="{% url 'cadastro_view' %}">Registrar</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>


    <!-- Mensagens -->
    <div>
        {% if messages %}
            {% for message in messages %}
                <div>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>


    <!-- Conteúdo principal -->
    <div>
        {% block content %}
        {% endblock %}
    </div>


    <!-- Footer -->
    <footer>
        <p>&copy; 2025 Cantina Escolar - Todos os direitos reservados</p>
    </footer>
</body>
</html>



