<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>
<body>
    <h2>Criar Conta</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        {% if form.errors %}
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ field.label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <button type="submit">Cadastrar</button>
        
    </form>
    <form action="{% url 'login' %}" method="get">
        <button type="submit" class="btn btn-primary">Já tenho uma conta</button>
    </form>
</body>
</html>