{% extends 'base.html' %}

{% block body_class %}
    login-register-body delete-page
{% endblock %}

{% block title %}
    Confirmar Exclusão de Conta
{% endblock %}

{% block content %}
    <div class="wrapper">
        <form method="POST" action="{% url 'deletar_conta' %}">
            {% csrf_token %}
            <h2 class="title-cadastro" style="margin-bottom: 20px;">Excluir Conta</h2>
            <p class="delete-warning-text">
                Você tem certeza que deseja excluir sua conta permanentemente? Esta ação não pode ser desfeita.
            </p>
            <!-- O botão de exclusão já usa a classe .btn-delete, que existe e é vermelha -->
            <div class="delete-buttons">
                <button type="submit" class="btn-delete">Sim, excluir</button>
                {% if request.user.usuario.role == 'cantineiro' %}
                  <a href="{% url 'dashboard_cantineiro' %}" class="btn-cancel">Cancelar</a>
                {% elif request.user.usuario.role == 'aluno' %}
                  <a href="{% url 'painel_usuario' %}" class="btn-cancel">Cancelar</a>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}

{% block footer %}
    Projeto Cantina - 2025
{% endblock %}