{% extends 'base.html' %}

{% block body_class %}
    cart-page-body
{% endblock %}

{% block title %}
    Carrinho de Compras - Projeto Cantina
{% endblock %}

{% block content %}
    <div class="carrinho-container">
        <h1>Carrinho</h1>
        {% if itens_carrinho|length > 0 %}
            <div class="product-list">
                {% for item in itens_carrinho %}
                    <div class="product-item">
                        <span>{{ item.produto.nome }} ({{ item.quantidade }}x)</span>
                        <span>R$ {{ item.subtotal|floatformat:2 }}</span>
                        <a href="{% url 'remover_do_carrinho' item.produto.id %}" title="Remover item">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="total-value">
                Valor Total: R$ {{ valor_total|floatformat:2 }}
            </div>
            <div class="carrinho-buttons">
                <a href="{% url 'finalizar_pedido_carrinho' %}">
                    <button>Finalizar pedido</button>
                </a>
            </div>
            <div class="carrinho-buttons">
                <a href="{% url 'ver_cardapio' %}">
                    <button>Continuar comprando</button>
                </a>
            </div>
        {% else %}
            <p class="carrinho-vazio">Seu carrinho está vazio.</p>
            <a href="{% url 'ver_cardapio' %}" class="btn-voltar">Voltar ao Cardápio</a>
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
    <h4 class="painel-credited">Projeto Cantina - 2025</h4>
{% endblock %}