{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block body_class %}
    historico-pedidos-body
{% endblock %}

{% block title %}
    Histórico de Pedidos
{% endblock %}

{% block content %}
<div class="top-bar-historico">
    <h1>Histórico de pedidos</h1>
</div>

<div class="historico-container">
    {% if pedidos %}
        {% for pedido in pedidos %}
        <div class="history-item">
            <div class="history-icon"></div>
            <div class="item-details">
                {% for item in pedido.itens.all %}
                    <span class="product-name">{{ item.quantidade }}x {{ item.produto.nome }}</span>
                {% endfor %}
            </div>
            <div class="item-datetime">
                <span class="date">{{ pedido.data_pedido|date:"d/m/Y" }}</span>
                <span class="time">{{ pedido.data_pedido|date:"H:i" }}</span>
                <br>
                <span class="status">Status: {{ pedido.get_status_display }}</span>
                <br>
                <span class="id">ID: {{ pedido.id }}</span>
                <br>
                <span class="product-price">R$ {{ pedido.valor_total|floatformat:2 }}</span>
            </div>
            
        </div>
        {% endfor %}
    {% else %}
        <p class="nenhum-produto" style="text-align: center; font-size: 1.2em; margin-top: 50px;">Você ainda não fez nenhum pedido.</p>
    {% endif %}

    <div class="listar-produto-actions">
        <a href="{% url 'painel_usuario' %}" class="btn-voltar">Voltar ao Painel</a>
    </div>
</div>
{% endblock %}